*.gitignore
*.Rproj.user
.Rhistory
.RData
.Ruserdata
main_output.docx
*.docx
*_cache/
*_files/
*.html
*.docx
*.pdf
*.knit.md
*.utf8.md
*.log
*.aux
*.out
.Rproj.user/
.Rhistory
.RData
.DS_Store
~$in_output.docx
