
*.gitignore

main_output.docx


# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rprofile
.Rproj.user/shared/notebooks/paths
.Rproj.user/29D20E2C/pcs/files-pane.pper
.Rproj.user/29D20E2C/pcs/windowlayoutstate.pper
.Rproj.user/29D20E2C/sources/prop/INDEX

# Quarto / R Markdown build artifacts
*_cache/
*_files/
.quarto/
_site/

# Rendered outputs (ignore all; uncomment only what you need)
*.html
*.docx
*.pdf
*.knit.md
*.utf8.md
*.log
*.aux
*.out



# OS cruft
.DS_Store
Thumbs.db

