*.gitignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
main_output.docx
*.docx
*_cache/
*_files/
*.html
*.docx
*.pdf
*.knit.md
*.utf8.md
*.log
*.aux
*.out
.Rproj.user/
.Rhistory
.RData
.DS_Store
.Rproj.user/

/.quarto/
**/*.quarto_ipynb

# Track generated Word outputs in results (but keep Word lock files ignored)
!results/*.docx
results/~$*.docx
